section.detail.bg-dark.py-6.text-light.text-opacity-75
  .container.px-4
    .detail__lists.row.gx-7
      .detail__list.col-md-6.mb-md-0.mb-3
        .detail__list-item
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Experiences

          .detail__content.mb-4
            h5.detail__company.fw-semibold.d-block.text-light.small.mb-0 Star Labs Inc
            .detail__meta.d-flex.align-items-center.mb-2
              .detail__role.fw-semibold.small Sr. Product Developer
              span.px-2 &middot;
              .detail__year.fst-italic.small Sept 2020 - Present
            .detail__desc.small I'm deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.

          .detail__content.mb-4
            h5.detail__company.fw-semibold.d-block.text-light.small.mb-0 Mercury Labs
            .detail__meta.d-flex.align-items-center.mb-2
              .detail__role.fw-semibold.small Product Developer
              span.px-2 &middot;
              .detail__year.fst-italic.small Jan 2015 - 2020
            .detail__desc.small I'm deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.

          .detail__content.mb-4
            h5.detail__company.fw-semibold.d-block.text-light.small.mb-0 Star City Labs
            .detail__meta.d-flex.align-items-center.mb-2
              .detail__role.fw-semibold.small Product Developer
              span.px-2 &middot;
              .detail__year.fst-italic.small Jan 2013 - 2015
            .detail__desc.small I'm deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.

          .detail__content
            h5.detail__company.fw-semibold.d-block.text-light.small.mb-0 Star City Labs
            .detail__meta.d-flex.align-items-center.mb-2
              .detail__role.fw-semibold.small Product Developer
              span.px-2 &middot;
              .detail__year.fst-italic.small Jan 2013 - 2015
            .detail__desc.small I'm deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.

      .detail__list.col-md-3
        .detail__list-item.mb-md-6.mb-4
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Education

          .detail__content.mb-4
            h5.detail__university.fw-semibold.d-block.text-light.small.mb-0 Harvard University
            .detail__role.fw-semibold.small Business Development
            .detail__year.fst-italic.small 2015 - 2019

          .detail__content.mb-4
            h5.detail__university.fw-semibold.d-block.text-light.small.mb-0 Oxford University
            .detail__role.fw-semibold.small Business Development
            .detail__year.fst-italic.small 2015 - 2019

          .detail__content.mb-4
            h5.detail__university.fw-semibold.d-block.text-light.small.mb-0 University of Cambridge
            .detail__role.fw-semibold.small Business Development
            .detail__year.fst-italic.small 2015 - 2019

        .detail__list-item.mb-md-6.mb-4
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Award

          .detail__content.mb-4
            ul.detail__award.list-unstyled.small
              li.pb-2 Puskas Award &middot; 2020
              li Golden Award &middot; 2016

        .detail__list-item
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Languages

          .detail__content.mb-4
            ul.detail__languages.list-unstyled.small
              li.pb-2 English
              li.pb-2 Indonesian
              li.pb-2 Sundanese

      .detail__list.col-md-3 
        .detail__list-item.mb-md-6.mb-4
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Expertise

          .detail__content.mb-4
            ul.detail__expertise.list-unstyled.small
              li.pb-2 Python
              li.pb-2 Big Data
              li.pb-2 Machine Learning
              li.pb-2 TensorFlow
              li Business Intelligence

        .detail__list-item.mb-md-6.mb-4
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Interests

          .detail__content.mb-4
            ul.detail__expertise.list-unstyled.small
              li.pb-2 Writing
              li.pb-2 Singing
              li.pb-2 Coding
              li Watching

        .detail__list-item
          h3.detail__title.text-light.fs-5.fw-semibold.mb-4 Social

          .detail__content.mb-4
            ul.detail__expertise.list-unstyled.small
              li.pb-2 
                a.link-light(href="#") Twitter
              li.pb-2 
                a.link-light(href="#") Linkedin
              li.pb-2 
                a.link-light(href="#") Instagram
