section.hero.container.px-4.my-md-8.my-5
  h1.hero__title.display-1.fw-bold Barry Allen.
  h2.hero__subtitle.fs-3.text-muted.mb-4 Sr. Product Developer
  .hero__desc.lead.mb-md-5.mb-4 
    p I have over 15 years of experience working in product management and data science. Currently, I work as the Head of Product Management at Star Labs Inc, where I lead a cross-functional team of seven, building unique products that are helping people achieve more in their careers! I'm deeply passionate about creating loved and trusted products that help people navigate their careers and achieve their career goals.
    p.text-muted.fs-6 
      span.fw-semibold Competencies:
      span Python, Hadoop, Big Data, Hive, SQL, PySpark, Keras, machine learning, TensorFlow, Business Intelligence, Tableau
  ul.hero__contact.list-unstyled.row.gx-md-3.gy-md-0.gy-3
    li.col-sm-4
      span.fw-semibold.d-lg-inline.d-block.me-md-2 Address:
      span.text-muted Central City
    li.col-sm-4
      span.fw-semibold.d-lg-inline.d-block.me-md-2 Email:
      a.link-secondary.text-decoration-none(href="mailto:allen@zmail.com") allen@zmail.com
    li.col-sm-4
      span.fw-semibold.d-lg-inline.d-block.me-md-2 Phone:
      a.link-secondary.text-decoration-none(href="tel:08881234567") 0888 123 4567
